extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/accounts.css')
    script(type='text/javascript', src="/javascripts/accounts.js")

block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust
        .mdc-drawer__content
            nav.mdc-list
                a.mdc-list-item(href='/files')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text= locale.files
                a.mdc-list-item.mdc-list-item--activated(href='/accounts')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') account_circle
                    span.mdc-list-item__text= locale.account_manager

                .mdc-list-divider
                a.mdc-list-item(href='/logout')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') launch
                    span.mdc-list-item__text= locale.logout

block content
    table#accounts
        tbody#accounts_input
            tr.first-row
                td
                    h4.first-column= locale.username
                td
                    h4= locale.password
                td
                    h4= locale.privilege_level
                td
                    h4= locale.encrypted
                td
                    h4= locale.enabled
                td

