extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/justifiedGallery.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/photos.css')
    script.
        let photos = !{JSON.stringify(photos)};
    script(type='text/javascript', src= "/javascripts/jquery.justifiedGallery.min.js")
    script(type='text/javascript', src= "/javascripts/lazysizes.min.js")
    script(type='text/javascript', src= "/javascripts/photos.js")
block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust
        .mdc-drawer__content
            .mdc-drawer__header
                h3.mdc-drawer__title= locale.photos
            nav.mdc-list
                a.mdc-list-item(href='/files')#file-manager
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text= locale.files
                a.mdc-list-item.mdc-list-item.mdc-list-item--activated(href='/photos')#photos
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') perm_media
                    span.mdc-list-item__text= locale.photos
                a.mdc-list-item#upload
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') cloud_upload
                    span.mdc-list-item__text= locale.upload
                a.mdc-list-item#download-current-dir
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') cloud_download
                    span.mdc-list-item__text= locale.download
                input#uploadButton(hidden type="file" multiple)
                a.mdc-list-item(href='/shared?me')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') person
                    span.mdc-list-item__text= locale.shared_with_me
                a.mdc-list-item(href='/shared?others')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') people
                    span.mdc-list-item__text= locale.shared_with_others
                a.mdc-list-item(href='/photos/.recycle')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') delete
                    span.mdc-list-item__text= locale.trash
                .mdc-list-divider
                a.mdc-list-item(href='/logout')#logout
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') launch
                    span.mdc-list-item__text= locale.logout

block content
    #content



